<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/nav.ejs") %>

    <div class="planet-container">
        <div class="left">
            <h2> <%=planet_name%> </h2>
            <img src="<%=planetInfo.image %>" width="300">
        </div>

        <div class="right">
            Description: <%=planetInfo.description%><br>
            Definition: <%=planetInfo.def%><br>
            Moons: <%=planetInfo.moons%><br>
            Distance From the Sun: <%=planetInfo. distanceFromSun%><br>
            Year Length: <%=planetInfo.yearLength%><br>
            Radius: <%=planetInfo.radius%><br>
            One Earth Day: <%=planetInfo. oneEarthDay%>
        </div>
    </div>
</body>

<footer>
    <%- include("partials/footer.ejs") %>
</footer>

</html>